# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
*.sqlite3
*.db

# Virtual environment
venv/
.env/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# FAISS vector store files
vectorstore_Mehran/

# MongoDB dumps
dump/
